## Homework 4 : Big Data

#### Due Date: Thursday June 25, 2020 at 11:59PM EST

We want to get practice with big data. We will study datasets about music relating to artists, albums and songs.

The questions guide you step-by-step through these steps of data processing. Please post to CampusWire with any questions. 

#### Collaboration Policy

Data science is a collaborative activity. While you may discuss the homework with classmates, you should answer the questions by yourself. If you discuss the assignments with other students, the please **include their names** below.

**Name:** *list name here*

**NetId:** *list netid here*

**Collaborators:** *list names here*

### Rubric

Question | Points
--- | ---
Question 1.1 | 1
Question 1.2 | 1
Question 2.1 | 1
Question 2.2 | 1
Question 2.3 | 1
Question 3.1 | 0
Question 3.2 | 1
Question 3.3 | 1
Question 4.1 | 1
Question 4.2 | 1
Question 4.3 | 1
Total | 10

In [1]:
# importing packages 

import pandas as pd
import numpy as np
import sqlalchemy
# import pyspark
import os

# changing some settings

pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 8)

# indicating paths to files

home = os.environ['HOME']
path_folder = f"{home}/shared/homework-4/" 

path_tracks = path_folder + "tracks.csv"
path_artist_term = path_folder + "artist_term.csv"
path_artists = path_folder + "artists.csv"
path_genres = path_folder + "genres.csv"

# connecting to database

engine = sqlalchemy.create_engine('mysql+pymysql://dbreader:WuE8c1TF@mysql.jhub/cp126', echo=False)

We have three tables about music stored in a MySQL database. We can establish a connection through the `sqlalchemy` package to the database. We can use `engine` to make queries with `pandas` package.

In [2]:
query = """
select * 
from tracks
limit 3;
"""

pd.read_sql_query(query, engine)

,track_id,title,release,year,duration,artist_id
0,TRMMMYQ128F932D901,Silent Night,Monster Ballads X-Mas,2003,252.05506,ARYZTJS1187B98C555
1,TRMMMKD128F425225D,Tanssi vaan,Karkuteillä,1995,156.55138,ARMVN3U1187FB3A1EB
2,TRMMMRX128F93187D9,No One Could Ever,Butter,2006,138.97098,ARGEKB01187FB50750

The table `tracks` about songs has columns

- `track_id` : unique identifier of song
- `title` : name of song
- `release` : album including song
- `year` : year of release
- `duration` : length in seconds
- `artist_id` : unique identifier of artist

In [3]:
query = """
select * 
from artists
limit 3;
"""

pd.read_sql_query(query, engine)

            artist_id artist_name
0  AR5DF6K1187B98F545    Movetron
1  AR5DFHO1187B9A3CC4      3d5spd
2  AR5DHN51187B9B9363   Macy Gray

The table `artists` about artists has columns

- `artist_id` : unique identifier of artist 
- `artist_name` : name of artist

In [4]:
query = """
select * 
from artist_term
limit 3;
"""

pd.read_sql_query(query, engine)

            artist_id        term
0  AR5DF6K1187B98F545  hard house
1  AR5DF6K1187B98F545     europop
2  AR5DF6K1187B98F545      ballad

The table `artist_term` about genres has columns

- `artist_id` : unique identifier of artist 
- `term` : genre of artist

### Question 1

Remember that we can add an index to a table in a database. An index helps to organize the records for fast retrieval of data. We combine one or more columns to determine an index.  

In addition to the tables `tracks`, `artists` and `artist_term`, we have the tables `tracks_index`, `artists_index` and `artist_term_index`. Here we have an index on the first 5 characters in the `artist_id` column.

#### Question 1.1

Complete the query to determine the 

- `artist_id`
- `name` 
- `term` 

of the artist behind the song titled `Media violence`.

In [5]:
query = """ 
SELECT artists.artist_id, artists.artist_name, artist_term.term  
FROM ...
WHERE artist_term.artist_id = artists.artist_id AND 
      artists.artist_id in 
      (SELECT artist_id 
       FROM ...
       WHERE title = ...);
"""

### BEGIN SOLUTION
query = """ 
SELECT artists.artist_id, artists.artist_name, artist_term.term  
FROM artists, artist_term
WHERE artist_term.artist_id = artists.artist_id AND 
      artists.artist_id in 
      (SELECT artist_id 
      FROM tracks
      WHERE title = 'Media violence');
"""
### END SOLUTION

pd.read_sql_query(query, engine)

            artist_id      artist_name  term
0  ARAJEEP1242077E49C  Lost Reflection  rock

What is the entry in the `term` column?

In [6]:
q1_1 = ...

### BEGIN SOLUTION
q1_1 = "rock"
### END SOLUTION

In [7]:
# TEST

assert q1_1 in ["jazz", "rap", "rock", "country"]

### BEGIN HIDDEN TESTS
assert q1_1 == "rock"
### END HIDDEN TESTS

#### Question 1.2

We can compare queries to `tracks`, `artists`, `artist_term` and queries to `tracks_index`, `artists_index`, `artist_term_index`. Using the command `timeit`, we can time the execution of the query from Question 1.1.

In [8]:
%%timeit -n 1 -r 1

pd.read_sql_query(query, engine)

20.8 s ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

Modify the query from Question 1.1. Replace `tracks`, `artists`, `artist_term` with `tracks_index`, `artists_index`, `artist_term_index`.

In [9]:
query_index = ...

### BEGIN SOLUTION
query_index = """ 
SELECT artists_index.artist_id, artists_index.artist_name, artist_term_index.term  
from artists_index, artist_term_index
where artist_term_index.artist_id = artists_index.artist_id and 
      artists_index.artist_id in 
      (select artist_id 
      from tracks_index
      where title = 'Media violence');
"""
### END SOLUTION

Now we can time the execution of the new query.

In [10]:
%%timeit -n 1 -r 1

pd.read_sql_query(query_index, engine)

459 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

We chose the index based on the first 5 characters of `artist_id`. Does the index improve performance?

In [11]:
q1_2 = ...

### BEGIN SOLUTION
q1_2 = True
### END SOLUTION

In [12]:
# TEST

assert q1_2 in [True, False]

### BEGIN HIDDEN TESTS
assert q1_2 == True
### END HIDDEN TESTS

### Question 2

While an index can help queries to the database, we need to store an index alongside the table. With many records, we would have to make a lot of space. Sometimes we have limitations on storage but access to computing resources. If we can divide the query across a cluster with map-reduce, then we might improve performance. 

We have the data from `tracks`, `artists`, `artist_term` in the files `tracks.csv`, `artists.csv`, `artist_term.csv` within the `shared/` folder. The file `genres.csv` contains records from `artist_term.csv` in the genre 

- `rap`
- `jazz`
- `country`
- `rock` 

We can use the `pandas` package to calculate the number of `artist_id` for each genre.

In [13]:
genres = pd.read_csv(path_folder + "genres.csv")
genres.groupby("term").count()

         artist_id
term
country       2335
jazz          4158
rap           2032
rock          9821

<img src="diagram.png"  width="475" style="float:right"/>

Alternatively, we can use map-reduce to count the number of `artist_id` for each genre. If we want to apply map-reduce, then we need to determine three steps

- map
- shuffle
- reduce

We will pretend that we have a cluster with 9 nodes

- 1 node for the scheduler
- 4 nodes for mapping and shuffling 
- 4 nodes for reducing

Node 0 will map the data to Node 1, Node 2, Node 3, Node 4. The nodes will shuffle the data amongst themselves and send it to Node 5, Node 6, Node 7, Node 8. The nodes will reduce the data and send it to Node 0.

#### Question 2.1

For the mapping step, we need to form key-value pairs. We will store the key-value pairs as tuples in a list. For each row, the key is the entry in `artist_id` and the value is the entry in `term`.  

Complete the loop to implement the mapping step.

In [14]:
key_value_pairs = []

for idx, row in genres.iterrows():
    value = ...
    key = ...
    
    ### BEGIN SOLUTION
    value = row["artist_id"]
    key = row["term"]
    ### END SOLUTION
    
    key_value_pairs.append((key, value))

How many key-value pairs do we have in `key_value_pairs`?

In [15]:
q2_1 = ...

### BEGIN SOLUTION
q2_1 = 18346
### END SOLUTION

In [16]:
# TEST

assert 15000 < q2_1 < 20000

### BEGIN HIDDEN TESTS
assert q2_1 == 18346
### END HIDDEN TESTS

#### Question 2.2

For the shuffling step, we need to divide the list `key_value_pairs` into four lists 

- `key_value_pairs_rock`
- `key_value_pairs_jazz`
- `key_value_pairs_rap`
- `key_value_pairs_country` 

Complete the conditional statement to implement the shuffling step.

In [17]:
key_value_pairs_rock = []
key_value_pairs_jazz = []
key_value_pairs_rap = []
key_value_pairs_country = []

for entry in key_value_pairs:
    key = entry[0]
    if key == "rock":
        key_value_pairs_rock.append(entry)    
    ### BEGIN SOLUTION
    elif key == "jazz":
        key_value_pairs_jazz.append(entry)
    elif key == "rap":
        key_value_pairs_rap.append(entry)
    else:
        key_value_pairs_country.append(entry)        
    ### END SOLUTION

How many key-value pairs do we have in `key_value_pairs_country`?

In [18]:
q2_2 = ...

### BEGIN SOLUTION
q2_2 = 2335
### END SOLUTION

In [19]:
# TEST

assert 2000 < q2_2 < 2500

### BEGIN HIDDEN TESTS
assert q2_2 == 2335
### END HIDDEN TESTS

#### Question 2.3

For the reducing step, we need to count the number of key-value pairs in the four lists:

- `number_rock` 
- `number_jazz` 
- `number_rap` 
- `number_country`

Complete the expression for the four variables

In [20]:
number_rock = len(key_value_pairs_rock)
    
### BEGIN SOLUTION
number_jazz = len(key_value_pairs_jazz)
number_rap = len(key_value_pairs_rap)
number_country = len(key_value_pairs_country)
### END SOLUTION

How many `artist_id` in the `jazz` genre?

In [21]:
q2_3 = ...

### BEGIN SOLUTION
q2_3 = 4158
### END SOLUTION

In [22]:
# TEST

assert 4000 < 4158 < 5000

### BEGIN HIDDEN TESTS
assert q2_3 == 4158
### END HIDDEN TESTS

### Question 3

We want to use Spark to handle mapping, shuffling and reducing for us. We need to start a session in Spark through the `pyspark` package.

In [23]:
spark = pyspark.sql.SparkSession.builder.master("local").getOrCreate()

For the session, we will use Spark SQL. Remember that Spark SQL stores data in Spark DataFrames which support operation like SQL. 

#### Question 3.1

We can load data from `tracks.csv` into a Spark DataFrame called `tracks`.

In [24]:
tracks = spark.read.csv(path_tracks)

We can use the action `show` to display rows of the Spark DataFrame.

In [25]:
tracks.show(3)

+------------------+--------------------+------------+----+---------+------------------+
|               _c0|                 _c1|         _c2| _c3|      _c4|               _c5|
+------------------+--------------------+------------+----+---------+------------------+
|          track_id|               title|     release|year| duration|         artist_id|
|TRAAAAK128F9318786|              Scream|Adelitas Way|2009| 213.9424|ARJNIUY12298900C91|
|TRAAAAV128F421A322|A Poor Recipe For...|   Cognicide|2005|118.07302|AR73AIO1187B9AD57B|
+------------------+--------------------+------------+----+---------+------------------+
only showing top 3 rows

Note that the column headers are incorrect. We can display the schema with the action `printSchema`.

In [26]:
tracks.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)

<font color='red' size="4">Spark Schema defines the structure of the data, in other words, it is the structure of the DataFrame, Spark SQL provides StructType & StructField classes to programmatically specify the schema. By default, Spark infers the schema from data, however, some times we may need to define our own column names and data types especially while working with unstructured and semi-structured data and this article explains how to define simple, nested and complex schemas with examples.</font>

Now we can change the schema through a string for the `schema` argument in `spark.read.csv`.

In [27]:
tracks = spark.read.csv(path_tracks, 
                        schema='track_id STRING, title STRING, release STRING, year INT, duration FLOAT, artist_id STRING',
                        header = True)

Modify the schema

- Replace `STRING` by `INT` in the `year` column
- Replace `STRING` by `FLOAT` in the `duration` column

In [28]:
tracks = ...

### BEGIN SOLUTION
tracks = spark.read.csv(path_tracks, 
                        schema='track_id STRING, title STRING, release STRING, year INT, duration FLOAT, artist_id STRING',
                        header = True)
### END SOLUTION

#### Question 3.2

We can use commands to work with Spark DataFrames like `pandas` DataFrames.

In [29]:
tracks.where(tracks.duration > 3000).select(tracks.release).collect()

[Row(release='Glass: Early Voice'),
 Row(release='Comic Monologue By Liu Baorui Vol. 8'),
 Row(release='Carried Beyond'),
 Row(release='NEW AGE MAGIC_ vol. 2'),
 Row(release='Learn Cantonese Easily_ Effectively_ and Fluently'),
 Row(release='Germans Are People too (Alive & Kickin´)'),
 Row(release='Le Saint Coran (avec Doae)'),
 Row(release='Live Acid Wandererz'),
 Row(release='Histoire(s) du cinéma (Complete Soundtrack)'),
 Row(release='Private Beach Club - By Afterlife'),
 Row(release='Karl May: Unter Geiern'),
 Row(release='Delirium Tremens'),
 Row(release='Sanjay Subrahmanyan - December Season 2003'),
 Row(release='Autumn Echoes'),
 Row(release='Directions - East'),
 Row(release='Nouvelle Vague (Complete Soundtrack)')]

Here we have applied three commands 

- `where` transformation filters the songs less than 3000 seconds in duration
- `select` transformation accesses the entries in the `release` column
- `collect` action returns all rows of the resulting table

Alternatively, we can register a table in the Spark session to use SQL commands.

In [30]:
tracks.createOrReplaceTempView('tracks')
spark.catalog.listTables()

[Table(name='tracks', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

Now we can execute a query to the `tracks` table in the Spark session.

In [31]:
query = """
SELECT release 
FROM tracks 
WHERE duration > 3000
"""

results = spark.sql(query)

Use the `count` action to determine the number of rows in `results` Spark DataFrame.

In [32]:
q3_2 = ...

### BEGIN SOLUTION
q3_2 = 16
### END SOLUTION

In [33]:
# TEST

assert 10 < q3_2 < 20

### BEGIN HIDDEN TESTS
assert q3_2 == 16
### END HIDDEN TESTS

#### Question 3.3

Note that `track_id` is the primary key in the `tracks` table. We can determine the number of songs each year by counting `track_id`.

In [34]:
tracks.groupBy(tracks.year).count().orderBy(tracks.year, ascending = False).show(5)

+----+-----+
|year|count|
+----+-----+
|2010| 2943|
|2009| 9570|
|2008|10479|
|2007|11645|
|2006|11127|
+----+-----+
only showing top 5 rows

Convert the commands to a query in SQL

- from the `tracks`  
- group by `year`
- count the number of `track_id`
- sort in descending order by `year`
- limit to 5 records

Complete the query by filling in missing commands.

In [35]:
query = """
SELECT ... 
FROM ... 
GROUP BY ... 
ORDER BY ...
LIMIT ...
"""

### BEGIN SOLUTION
query = """
SELECT year, COUNT(*) as count 
FROM tracks 
GROUP BY year 
ORDER BY year DESC
LIMIT 5
"""
### END SOLUTION

results = spark.sql(query)

How many songs were released in 2007?

In [36]:
q3_3 = ...

### BEGIN SOLUTION
q3_3 = 11645
### END SOLUTION

In [37]:
# TEST

assert 11000 < q3_3 < 12000

### BEGIN HIDDEN TESTS
assert q3_3 == 11645
### END HIDDEN TESTS

### Question 4

Consider the following query to the MySQL database.

```sql
SELECT tracks_grouped.artist_id, tracks_grouped.max_year, tracks_grouped.avg_duration, artist_term_grouped.counts
FROM

   (SELECT artist_id, MAX(tracks.year) as max_year, AVG(tracks.duration) as avg_duration
    FROM tracks
    GROUP BY artist_id) as tracks_grouped, 

   (SELECT artist_id, COUNT(DISTINCT term) as counts
    FROM artist_term
    GROUP BY artist_id) as artist_term_grouped

WHERE tracks_grouped.artist_id = artist_term_grouped.artist_id
LIMIT 3;
```

Note that we have joined two tables:

- `tracks_grouped`
  * from the `tracks` table we grouped by `artist_id` to compute maximum over `year` and average over `duration`
- `artist_term_grouped`
  * from the `artist_term` table we grouped by `artist_id` to count the distinct entries in `term`
  
We want to execute the query in Spark.


#### Question 4.1 

Before we can execute the query in Spark, we need to add a table for `artist_term` to the Spark session. 

First we will load the data from `artist_term.csv` into a Spark DataFrame. 

Complete the schema for `artist_term` like Question 3.1. Note that both columns are `STRING` data type.

In [38]:
schema = ...

### BEGIN SOLUTION 
schema = 'artist_id STRING, term STRING'
### END SOLUTION

artist_term = spark.read.csv(path_artist_term, schema=schema, header = True)

We can check the number of distinct genres in the `term` columns.

In [39]:
artist_term.select(artist_term.term).distinct().count()

6165

How many distinct genres?

In [40]:
q4_1 = ...

### BEGIN SOLUTION
q4_1 = 6165
### END SOLUTION

In [41]:
# TEST

assert 5000 < q4_1 < 10000

### BEGIN HIDDEN TESTS
assert q4_1 == 6165
### END HIDDEN TESTS

Second we need to add a table corresponding to the Spark DataFrame `artist_term` like in Question 3.2.

In [42]:
artist_term.createOrReplaceTempView("artist_term")

Now the Spark session has two tables.

In [43]:
spark.catalog.listTables()

[Table(name='artist_term', database=None, description=None, tableType='TEMPORARY', isTemporary=True),
 Table(name='tracks', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

#### Question 4.2

The query from Question 4.1 requires us to join two tables. Now that we have `tracks` and `artist_term` in the Spark session, we execute queries for these tables. 

Complete the queries by filling in the missing commands.

In [44]:
query = """
SELECT artist_id as artist_id, MAX(tracks.year) as max_year, AVG(tracks.duration) as avg_duration
FROM ...
GROUP BY artist_id
"""

### BEGIN SOLUTION
query = """
SELECT artist_id as artist_id, MAX(tracks.year) as max_year, AVG(tracks.duration) as avg_duration
FROM tracks
GROUP BY artist_id
"""
### END SOLUTION

tracks_grouped = spark.sql(query)

In [45]:
query = """
SELECT artist_id, COUNT(DISTINCT term) as counts
FROM ...
GROUP BY artist_id
"""

### BEGIN SOLUTION
query = """
SELECT artist_id, COUNT(DISTINCT term) as counts
FROM artist_term
GROUP BY artist_id
"""
### END SOLUTION

artist_term_grouped = spark.sql(query)

Use the action `count` to determine the number of records in `tracks_grouped`

In [46]:
q4_2 = ...

### BEGIN SOLUTION
q4_2 = 33922
### END SOLUTION

In [47]:
# TEST

assert 33000 < q4_2 < 34000

### BEGIN HIDDEN TESTS
assert q4_2 == 33922
### END HIDDEN TESTS

#### Question 4.3

Now we can join the Spark DataFrames from Question 4.3.

In [48]:
%%timeit -n 1 -r 1

joined_table = tracks_grouped.join(artist_term_grouped, on = "artist_id")
joined_table.show(3)

+------------------+--------+------------------+------+
|         artist_id|max_year|      avg_duration|counts|
+------------------+--------+------------------+------+
|ARI9UV41187B98AB58|    2004|209.48852500915527|    20|
|AR9IVLJ1187B9B4DEA|    1996|  327.193669128418|    19|
|ARJP1FW1187FB4DF1B|    2000|234.01913976669312|     8|
+------------------+--------+------------------+------+
only showing top 3 rows

33.9 s ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

So we have converted the SQL query from Question 4.1 to a Spark SQL query. 

Remember that Spark has lazy evaluation. Unless we specify an action, Spark will not perform transformations to the data. We can help the retrieval of data with caching. If we cache a DataFrame in memory, then Spark can access it without the need to repeat transformations.

In [49]:
tracks_grouped.cache()
tracks_grouped.show(3)

+------------------+--------+------------------+
|         artist_id|max_year|      avg_duration|
+------------------+--------+------------------+
|ARI9UV41187B98AB58|    2004|209.48852500915527|
|AR9IVLJ1187B9B4DEA|    1996|  327.193669128418|
|ARJP1FW1187FB4DF1B|    2000|234.01913976669312|
+------------------+--------+------------------+
only showing top 3 rows

In [50]:
artist_term_grouped.cache()
artist_term_grouped.show(3)

+------------------+------+
|         artist_id|counts|
+------------------+------+
|AR83GCY1187B9AD949|    16|
|ARARFNT1187FB3CF5F|    15|
|ARAWBUP1187B9B93FC|    17|
+------------------+------+
only showing top 3 rows

We can repeat the joining operation.

In [51]:
%%timeit -n 1 -r 1

joined_table = tracks_grouped.join(artist_term_grouped, on = "artist_id")
joined_table.show(3)

+------------------+--------+------------------+------+
|         artist_id|max_year|      avg_duration|counts|
+------------------+--------+------------------+------+
|ARI9UV41187B98AB58|    2004|209.48852500915527|    20|
|AR9IVLJ1187B9B4DEA|    1996|  327.193669128418|    19|
|ARJP1FW1187FB4DF1B|    2000|234.01913976669312|     8|
+------------------+--------+------------------+------+
only showing top 3 rows

10.1 s ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

Did caching improve performance?

In [52]:
q4_3 = ...

### BEGIN SOLUTION
q4_3 = True
### END SOLUTION

In [53]:
# TEST

assert q4_3 in [True, False]

### BEGIN HIDDEN TESTS
assert q4_3 == True
### END HIDDEN TESTS