## Leture 4

In this demonstration, we want to study approaches to working with large datasets. While more data can mean more information for data mining, large datasets can pose challenges for us. We will explore some strategies to help us work with big data.

In [136]:
# importing packages 

import pandas as pd
import numpy as np

import os

import sqlalchemy
import pyspark

import graphviz

# changing some settings

pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 8)

# indicating paths to files

home = os.environ['HOME']
path_litte_women = f"{home}/shared/lecture-4/little_women.txt"

### File Size

Remember that a bit represents the smallest unit of storage on a computer. Eight bits form a byte. We measure the size of files and folder with bytes.

| Symbol	| Prefix	| Base 10 | Base 2	|
| -- | -- | -- | -- |
K |	kilo|	$10^3$   |	$2^{10}$ |
M |	mega | $10^6$  | $2^{20}$ |
G	| giga	| $10^9$ | $2^{30}$ |
T	| tera	| $10^{12}$ | $2^{40}$ |
P	| peta |	$10^{15}$ | $2^{50}$ |

We can use the command line interface to determine the size of files and folders.

In [7]:
!ls ~/shared/lecture-4

little_women.txt

We have two files in the folder `shared/lecture-4/`. The command `ls` allows us to list the contents of a folder. Note that `~` indicates the root directory.

In [8]:
!du ~/shared/lecture-4/little_women.txt

944	/home/jovyan/shared/lecture-4/little_women.txt

The command `du` allows us to determine the size of files and folders.

In [9]:
!du -sh ~/shared/lecture-4/*

944K	/home/jovyan/shared/lecture-4/little_women.txt

Note that the flag `-sh` shows the prefix for the size.

### Index of Table 

We can connect to the MySQL database with the `sqlalchemy` package.

In [6]:
engine = sqlalchemy.create_engine('mysql+pymysql://dbreader:WuE8c1TF@mysql.jhub/cp126')

Remember that we need to specify the connection details

> `<dialect_of_sql>+<driver_for_sql_in_python>://<user_name>:<password>@<ip_address>/<database_name>`

Here `mysql.jhub` is an environment variable containing the IP address of the MySQL database.

In [31]:
query = """ 
SELECT * 
FROM artists
LIMIT 5;
"""

pd.read_sql_query(query, engine)

            artist_id                    artist_name
0  AR5DF6K1187B98F545                       Movetron
1  AR5DFHO1187B9A3CC4                         3d5spd
2  AR5DHN51187B9B9363                      Macy Gray
3  AR5DHN51187B9B9363             Macy Gray / Fergie
4  AR5DHN51187B9B9363  Macy Gray / Justin Timberlake

We have a table in the database called `artists` containing 

- `artist_id` : identifier of musical group
- `artist_name` : primary key containing unique name of musical group

Additionally we have a table in the database called `artists_index`.

In [32]:
query = """ 
SELECT * 
FROM artists_index
LIMIT 5;
"""

pd.read_sql_query(query, engine)

            artist_id                    artist_name
0  AR5DF6K1187B98F545                       Movetron
1  AR5DFHO1187B9A3CC4                         3d5spd
2  AR5DHN51187B9B9363                      Macy Gray
3  AR5DHN51187B9B9363             Macy Gray / Fergie
4  AR5DHN51187B9B9363  Macy Gray / Justin Timberlake

While the tables `artists` and `artists_index` have the same records, the table `artists` has an index on the first 5 characters of the `artist_id` column.

In [7]:
%%timeit -n 1 -r 1

query = """ 
SELECT COUNT(DISTINCT artist_id) AS Artists_Count
FROM artists
WHERE artist_name LIKE 'M%%' OR
      artist_name LIKE 'm%%';
"""

pd.read_sql_query(query, engine)

90.6 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

The command `timeit` allows us to time the execution of code. Here `-n 1 -r 1` indicates that the code should run for 1 iteration with 1 repitition per iteration.

In [9]:
%%timeit -n 1 -r 1

query = """ 
SELECT COUNT(DISTINCT artist_id) AS Artists_Count
FROM artists_index
WHERE artist_name LIKE 'M%%' OR
      artist_name LIKE 'm%%';
"""

pd.read_sql_query(query, engine)

44.7 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

Note that we have an improvement with an index.

### Map-Reduce

We have the text of the novel _Little Women_ by Louisa May Alcott in the `shared/lecture-4/` folder.

In [106]:
with open(path_litte_women, "r") as file_handle:
    little_women_text = file_handle.read()

We want to count the occurence of words in the novel with map-reduce. We need three steps

1. Map 
   * The mapper function generates key-value pairs. 
   * The keys are words and the values are the number 1
2. Shuffle 
   * Group together key-value pairs based on the key
3. Reduce
   * Sum the values in each group of key-value pairs 

The `mapper` function takes a string a returns a list of tuples.

In [107]:
def mapper(string_document):
    output = []
    for word in string_document.split(" "):
        output.append((word, 1))
    
    return output

mapper("big data analysis big data analysis analysis big business intelligence")

[('big', 1),
 ('data', 1),
 ('analysis', 1),
 ('big', 1),
 ('data', 1),
 ('analysis', 1),
 ('analysis', 1),
 ('big', 1),
 ('business', 1),
 ('intelligence', 1)]

The `shuffler` function takes a list of tuples and returns a dictionary.

In [109]:
def shuffler(list_pairs):
    output = dict()
    for pair in list_pairs:
        old_value = output.get(pair[0], [])
        new_value = old_value + [pair]
        output.update({pair[0] : new_value})
    
    return output

shuffler(mapper("big data analysis big data analysis analysis big business intelligence"))

{'big': [('big', 1), ('big', 1), ('big', 1)],
 'data': [('data', 1), ('data', 1)],
 'analysis': [('analysis', 1), ('analysis', 1), ('analysis', 1)],
 'business': [('business', 1)],
 'intelligence': [('intelligence', 1)]}

The `reducer` function takes a dictionary and outputs a dictionary.

In [110]:
def reducer(dictionary_words):
    output = dict()
    for key, value in dictionary_words.items():
        output[key] = len(value)
    
    return output

reducer(shuffler(mapper("big data analysis big data analysis analysis big business intelligence")))

{'big': 3, 'data': 2, 'analysis': 3, 'business': 1, 'intelligence': 1}

Now we can count the words in the text of _Little Women_.

In [ ]:
reducer(shuffler(mapper(little_women_text)))

### Spark 

While we tend to use the Spark SQL component of Spark, we will use the Spark Core component of Spark for the demonstration.

In [133]:
spark = pyspark.sql.SparkSession.builder.master("local").getOrCreate()

We need to start a Spark session. Here we can configure the scheduler node and worker nodes. Since we will not work on a cluster like NYU Dumbo cluster, we can specify `local` to indicate our local computers.

In [154]:
sparkContext = spark.sparkContext

The Spark context is the interface to the Spark Core component of Spark.

#### Dependency Graph

The `graphviz` package helps us to represent graphs. A graph is a collection of dots called nodes and lines called edges. The nodes are the entries of the graph and the lines are the relationships between entries.

In [130]:
dot = graphviz.Digraph()

dot.node('P', label = 'Parent Node')
dot.node('L', label = 'Left Child Node')
dot.node('R', label = 'Right Child Node')

dot.edge('P', 'L', label = "Left Edge")
dot.edge('P', 'R', label = "Right Edge")

dot

Spark uses distributed storage. If dataset does not fit into memory, then Spark partitions the dataset into pieces for storage on disk. If the dataset does not fit on disk, then Spark partitions the dataset into pieces for storage across a cluster. Any operation on the dataset becomes an operation on the chunks.

In [139]:
array = np.array([4,-1,2,17,-11,5,21,-7])

chunks = np.array([[4,-1],[2,17],[-11,5],[21,-7]])

Spark uses distributed computation. Using map-reduce, Spark breaks operations into dependent tasks spread across a cluster.

In [140]:
chunks = 2 * chunks 

chunks.min()

-22

We can represent the tasks and the relationships between tasks in a dependency graph. The dependency graph helps Spark to improve execution of task through lazy evaluation and parellelism.

<img src="graph-1.png"  width="250"/>

Spark does not perform upstream calculations without dependent downstream calculations. In particular, Spark can cache unchanging values to focus on recalculating changing value. We call this lazy evaluation.

In [137]:
array = np.array([4,-1,2,17,-11,5,21,-77])

chunks = np.array([[4,-1],[2,17],[-11,5],[21,-77]])

chunks = 2 * chunks 

chunks.min()

-154

If tasks are not dependent, then Spark can execute them at the same time. So the Spark scheduler can distribute the job across a cluster. We call this parellelism.

#### Resilient Distributed Datasets

We can split the text in `little_women_text` into a list of strings.

In [145]:
litte_women_rdd = sparkContext.parallelize(little_women_text.split(" "))

We cna use the Spark context to partition the data into resilent distributed datasets. We can control the number of partitions with `repartition`.

In [155]:
litte_women_rdd.repartition(10)

MapPartitionsRDD[16] at coalesce at NativeMethodAccessorImpl.java:0

We can access entries of the RDD with `take`.

In [157]:
litte_women_rdd.take(4)

['little', 'women', 'by', 'louisa']

Since Spark uses map-reduce, we can take the same steps for counting the number of words in the novel.

In [159]:
litte_women_rdd_mapped = litte_women_rdd.map(lambda word: (word, 1))

litte_women_rdd_mapped.take(3)

[('little', 1), ('women', 1), ('by', 1)]

Note that we do not have to shuffle the data. We can proceed to the reduce step.

In [160]:
litte_women_rdd_reduced = litte_women_rdd_mapped.reduceByKey(lambda a, b: a+b)

litte_women_rdd_reduced.take(3)

[('little', 725), ('women', 46), ('by', 612)]

We can save the results to a file.

In [55]:
litte_women_rdd_reduced.repartition(1).saveAsTextFile("word_count")

We can check the contents of the file.

In [56]:
!head word_count/part-00000

('little', 725)
('women', 46)
('by', 612)
('louisa', 1)
('may', 155)
('alcott', 1)
('contents', 2)
('part', 54)
('1', 1)
('one', 723)